# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go build output
shortner
bin/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor stuff
.vscode/
.idea/
*.swp


# Binaries
/bin/
/*.exe
/*.dll
/*.so
/*.dylib

# Tests
*.test

# Output of go coverage
*.out

# Dependency directories (if using vendoring)
vendor/
